
@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http



<div class="text-center">
    <h1 class="display-4">Welcome to the Movie Database</h1>
    <p><h3><a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Registration">Register a Movie Here</a></h3></p>
</div>
<br>
<br>
<div class="text-center">
    <h1 class="display-4">Browse our list of movies to rent</h1>
    <p><h3><a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="ListMovies">Movie List</a></h3></p>
</div>